# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Checkpoints
checkpoints*/
*.pt
*.pth

# Data
data/
*.pkl
*.pickle

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.env
